<h1>Welcome to Fwitter</h1>
<br>
<p>If you already have an account, please log in <a href="/users/login">here</a>.</p>
<p>If you need to create an account, please sign up <a href="/signup">here</a>.</p>